# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

# Env
.env

# Data / models
data/raw/*
data/interim/*
data/processed/*
models/*
reports/*
logs/airflow/*
mlruns/
mlflow*.db
mlflow*.db-*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep
!logs/airflow/.gitkeep

# Notebooks
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
